ul {
  list-style-type: none;
  margin: 0px;
  padding: 10px 0px;
  background-color: #4c525d;
  overflow: hidden;
  position: -webkit-sticky;
  color: rgb(183, 162, 205);
}

li {
  display: inline;
  color: rgb(183, 162, 205);
}

li a {
  display: inline-block;
  text-decoration: none;
  background-color: #4c525d;
  padding: 10px 0px;
  font-size: calc(10px + 2vmin);
  color: rgb(183, 162, 205);
}

.logout {
  float: right;
  margin-right: 1.2%;
}

.icon {
  background-color: #4c525d;
  color: rgb(183, 162, 205);
}

.myd {
  margin-left: 3%;
}
