.event {
  background-color: rgb(213, 224, 235);
  width: 100%;
  bottom: 0%;
}

.inside {
  background-color: rgb(238, 241, 242);
}

.front {
  background-color: rgb(231, 234, 233);
}

td {
  border-color: rgb(62, 137, 143);
  border-width: 5;
  border: solid;
}

.timeline {
  border-style: none;
  background-color: "transparent";
  text-align: center;
  padding-right: 10px;
  width: 70px;
  z-index: -1;
}

.day {
  border-style: none;
  background-color: "transparent";
  text-align: center;
  z-index: -1;
}

.last {
  border-style: none;
  background-color: "transparent";
  text-align: center;
}

tr {
  height: 60px;
}
